body{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flex;
    padding: 8em 4em;
}
.body1{
    position: relative;
    background-color: white;
    align-content: flex-start;
    border-radius: 15%;
    text-align: center;
    width: 50%;
    padding-bottom: 1em;
}
#form{
    position: relative;
    background-color: rgb(192,196,252);
    width: 50%;
    border-radius: 5%;
    padding: 1em 4em;
   /* float: right;*/
}
.form{
    padding:2em 3em;
}
#form h3{
    text-align: center;
    padding-top: 2em;
}
/*form{
    padding-top: 1em;
    padding-left: 8em;
    padding-right: 8em;
    
}*/
table, th{
    border: 1px solid black;
  }
table{
    padding-left:5em;
    width:70%;
     height:30%
  }
img{
      padding-bottom: 1em;
      padding-top: 2em;
  }
  .container-fluid{
      display: flex;
  }
#gender{
    padding-top: 1em;
    transform: translateX(-1em);
  }
.form-check-label2{
  transform: translate(6em,-1.5em);
}
.form-check-label{
    padding-top:1em;
}
#Display{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}